# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
15_XCAN-backups/15_XCAN-2022-10-30_182355.zip
15_XCAN-backups/15_XCAN-2022-10-30_182947.zip
15_XCAN-backups/15_XCAN-2022-10-31_165514.zip
15_XCAN-backups/15_XCAN-2022-10-31_171605.zip
15_XCAN-backups/15_XCAN-2022-10-31_172726.zip
15_XCAN-backups/15_XCAN-2022-10-31_173924.zip
15_XCAN-backups/15_XCAN-2022-10-31_175404.zip
15_XCAN-backups/15_XCAN-2022-11-02_235149.zip
15_XCAN-backups/15_XCAN-2022-11-02_235759.zip
15_XCAN-backups/15_XCAN-2022-11-03_000334.zip
15_XCAN-backups/15_XCAN-2022-11-03_001041.zip
15_XCAN-backups/15_XCAN-2022-11-03_001542.zip
15_XCAN-backups/15_XCAN-2022-11-03_002959.zip
